*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:
linear-gradient(
135deg,
#071120,
#0d1b3a,
#142850
);

}

.login-page{

height:100vh;

display:flex;

justify-content:space-around;

align-items:center;

padding:80px;

}

.left{

color:white;

width:40%;

}

.left h1{

font-size:64px;

margin-bottom:20px;

}

.left p{

font-size:22px;

color:#cbd5e1;

line-height:1.8;

}

.login-card{

width:400px;

background:#111827;

padding:45px;

border-radius:22px;

display:flex;

flex-direction:column;

gap:18px;

box-shadow:
0 20px 60px
rgba(
0,
0,
0,
0.45
);

}

.login-card h2{

color:white;

text-align:center;

margin-bottom:10px;

}

input{

padding:16px;

background:#1f2937;

border:1px solid #374151;

color:white;

border-radius:12px;

font-size:15px;

}

input::placeholder{

color:#9ca3af;

}

input:focus{

outline:none;

border:1px solid #3b82f6;

}

button{

padding:15px;

background:
linear-gradient(
90deg,
#2563eb,
#3b82f6
);

color:white;

border:none;

border-radius:12px;

font-size:16px;

font-weight:bold;

cursor:pointer;

}

button:hover{

opacity:.9;

}

span{

color:#93c5fd;

text-align:center;

cursor:pointer;

}