body{
background:#071120;
}

.dashboard{

padding:40px;

color:white;

}

.top{

display:flex;

justify-content:space-between;

align-items:center;

}

.profile{

background:#111827;

padding:15px;

border-radius:12px;

}

.cards{

display:grid;

grid-template-columns:
repeat(
4,
1fr
);

gap:20px;

margin-top:40px;

}

.card{

background:#111827;

padding:30px;

border-radius:20px;

transition:.3s;

}

.card:hover{

transform:
translateY(-10px);

}

.card h3{

color:#94a3b8;

}

.middle{

display:grid;

grid-template-columns:
2fr 1fr;

gap:20px;

margin-top:35px;

}

.chart{

background:#111827;

padding:30px;

border-radius:20px;

}

.bars{

display:flex;

gap:25px;

align-items:end;

height:250px;

}

.bar{

width:60px;

background:
linear-gradient(
to top,
#2563eb,
#38bdf8
);

border-radius:15px;

}

.one{
height:120px;
}

.two{
height:180px;
}

.three{
height:220px;
}

.four{
height:150px;
}

.activity{

background:#111827;

padding:30px;

border-radius:20px;

}

.activity p{

margin-top:20px;

color:#cbd5e1;

}