body{
background:#071120;
}

.subscription{

padding:60px;

color:white;

}

.plan{

background:#111827;

padding:40px;

border-radius:22px;

text-align:center;

width:300px;

}

.price{

font-size:46px;

color:#38bdf8;

}