body{
background:#071120;
}

.inventory{

padding:40px;

color:white;

}

.inventory h1{

margin-bottom:30px;

}

.table{

background:#111827;

border-radius:20px;

overflow:hidden;

}

.header{

display:flex;

justify-content:space-between;

padding:25px;

background:#1e293b;

font-weight:bold;

}

.row{

display:flex;

justify-content:space-between;

padding:22px;

border-bottom:
1px solid
#243244;

transition:.3s;

}

.row:hover{

background:#182131;

}

span{

font-size:18px;

}